extends layout

block content
    //- h1 Eastenders Football
    //- p Welcome to #{title}
                
    div.container
        h2 This weeks team
        div(class="teampicker-container")
            div(id="teampicker")
                //- img(src="./images/pitch-green.png")
                div(class="pitch" id="picked")
                    div(class="tile tile--pitch tile--team-one")
                        p(class="team-name") Team One
                        div(class="tile__list")
                            div(class="circle circle--gk")
                            div(class="circle circle--def")
                            div(class="circle circle--lefmid")
                            div(class="circle circle--rigmid")
                            div(class="circle circle--for")
                            
                    div(class="tile tile--pitch tile--team-two")
                        p(class="team-name") Team Two
                        div(class="tile__list")
                            div(class="circle circle--gk")
                            div(class="circle circle--def")
                            div(class="circle circle--lefmid")
                            div(class="circle circle--rigmid")
                            div(class="circle circle--for")
                        
                div(class="tile tile--players players")
                    div(id="bench")
                        each player, i in playerlist
                            div(class='playername', data-attr=player._id )= player.playername
                                //- p= player.playername 
                                //- img(src="./images/cage.png")
                        
                                
            button(class="submit-win", data-toggle="modal", data-target="#myModal") Submit Result           
            
        div(class="modal fade", id="myModal")
            div(class="modal-dialog")
                p Check the team is correct before submitting the result
                div.teamone-modal
                    p Team one
                    
                div.teamtwo-modal
                    p Team two
                
                Which team won?     
                button(class="result", data-attribute="teamOne", data-dismiss="modal") TEAM 1 WON
                button(class="result", data-attribute="teamDraw", data-dismiss="modal") DRAW
                button(class="result", data-attribute="teamTwo", data-dismiss="modal") TEAM 2 WON
         
         
        h2 As it stands
        table(data-toggle="table", id="table", data-detail-view="true", data-detail-formatter="detailFormatter")
            thead
                tr(class="row--heading")
                    th(class="table-heading") Position
                    th(class="table-heading", data-sortable="true", data-field="playername") Name
                    th(class="table-heading", data-sortable="true", data-field="gamesplayed") GP
                    //-  th(class="table-heading") Img
                    th(class="table-heading", data-sortable="true", data-field="totalpoints") TP
                    th(class="table-heading", data-sortable="true", data-field="averagepoints") AP
                    th(class="table-heading", data-sortable="true", data-field="averagesubtractedpoints") ASP
            
            tbody(class="table-content")            
                each player, i in playerlist     
                    tr(class="row--player")
                        td(class="table-value")=  i + 1
                        td(class="table-value")=  player.playername 
                        td(class="table-value")=  player.gamesplayed  
                        td(class="table-value")=  player.totalpoints
                        td(class="table-value")=  player.totalpoints / player.gamesplayed
                        td(class="table-value")=  player.averagesubtractedpoints
        
            
        h2 Hall of Fame
            div.container
                div(class="carousel slide", data-ride="carousel")
                    div(class="carousel-inner")
                        div(class="item") Slide 1
                        div(class="item") Slide 2
                        div(class="item") Slide 3

            
        
    
    
    
    
    //- // ADD USER
    //- h2 Add Player
    //-     #addUser
    //-         fieldset
    //-             input#inputUserName(type='text', placeholder='Player Name')
    //-             input#inputUserEmail(type='text', placeholder='Games Played')
    //-             br
    //-             input#inputUserFullname(type='text', placeholder='Total Points')
    //-             input#inputUserAge(type='text', placeholder='Average Points')
    //-             br
    //-             input#inputUserLocation(type='text', placeholder='Average Subtracted Points')
    //-             br
    //-             button#btnAddUser Add User
    
    //- button#btnUpdateUser Add Update

      
    
