*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1{
    text-align: center;
    margin-bottom: 30px;
}

.container{
    max-width: 1100px;
}

.teampicker-container{
    display: block;
    margin: 0 auto;
    position: relative;
}

/*.teampicker-container img{
    width: 100%;
    position: absolute;
    height: auto;
}*/


.pitch{
    width: 100%;
    position: relative;
    min-height: 35vw;
    background-image: url('../images/pitch-green.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.modal-dialog{
    padding: 40px;
    background-color: white;
}


.team-name{
    position: absolute;
    left: 45%;
    top: 50px;
    color: white;
    text-transform: uppercase;
}

.tile--pitch{
    position: relative;
    float: left;
    width: 50%;
    /*min-height: 35vw;*/
}

.tile--players{
    min-height: 100px;
    border: 2px solid white;
}

.tile__list{
    position: relative;
    min-height: 35vw;
    width: 100%;
}

.tile--team-one{

}

.tile--team-two{

}

.circle{
    height: 80px;
    width: 80px;
    margin: 0 20px;
    border-radius: 50%;
    border: 1px dotted white;
    position: absolute;
}

.circle--bench{
    position: relative;
    display: inline-block;
}

.circle--gk{
    top: 50%;
    transform: translateY(-50%);
}
.circle--def{
    left: 25%;
    top: 50%;
    transform: translateY(-50%);
}

.circle--lefmid{
    left: 50%;
    top: 25%;
    transform: translateY(-50%);
}
.circle--rigmid{
    left: 50%;
    top: 75%;
    transform: translateY(-50%);
}

.circle--for{
    left: 70%;
    top: 50%;
    transform: translateY(-50%);
}


/*.playername{*/
    /*background-image: url('../images/cage.png');*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*overflow: hidden;
    height: 80px;
    width: 80px;
    border-radius: 50%;
}*/

.player{
    display: inline-block;
    /*margin: 5px 10px;*/
}

.player .img-container{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-position: center;
    background-size: 150%;

}

.img-container img{
    height: 80px;
    width: 80px;
    /*left: -50%;*/
    /*position: absolute;*/
}

.player p{
    text-align: center;
}


/*
.table-heading{
    display: inline-block;
    padding: 5px 10px;
}

.table-value{
    display: inline-block;
    padding: 5px 10px;
}*/
